/* Раздел "Консоли" */
.consoles-page {
    text-align: center;
    margin: 4px auto;
    max-width: 1200px;
    padding: 20px;
  }
  
  .consoles-page h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: #1f1f1f;
  }
  
  /* Общий контейнер для карточек */
  .consoles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Всегда 4 колонки */
    gap: 20px; /* Отступ между карточками */
    justify-content: center; /* Центрируем сетку */
  }
  
  /* Карточка консоли */
  .console-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 282px; /* Фиксированная ширина */
    height: auto; /* Высота зависит от содержимого */
    text-align: center;
    padding: 10px;
    position: relative; /* Делаем карточку относительным контейнером */
    transition: transform 0.3s ease;
  }
  
  .console-card:hover {
    transform: scale(1.05);
  }
  
  /* Изображение консоли */
  .console-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Название консоли */
  .console-info {
    padding: 0 5px;
  }
  
  .console-details {
    text-align: left;
    margin-bottom: 40px;
  }
  
  .console-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .console-price {
    color: gray;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .console-stock {
    font-size: 16px;
    font-weight: bold;
  }
  
  .in-stock {
    color: darkgreen;
  }
  
  .out-of-stock {
    color: red;
  }
  
  /* Кнопка "Купить" в правом нижнем углу */
  .buy-btn {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .buy-btn[disabled] {
    background: gray;
    cursor: not-allowed;
    opacity: 0.7;
  }
  
  .buy-btn:hover:not([disabled]) {
    background: #333;
  }
  
  @media (max-width: 1200px) {
    .consoles-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .consoles-container {
      grid-template-columns: 1fr;
    }
  }